{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

<header class="container clearfix">
  <h1>
    <span class="title">{{@blog.title}}</span>
    <hr>
  </h1>
{{!--   {{#if @blog.cover}}
  <div class="blog-cover" style="
    background: url({{@blog.cover}}) no-repeat;
  "></div>
  {{/if}} --}}
  <article class="header--description">
    <h3>a blog by <a class="button--link" href="http://ericlea.ninja" title="Visit website" data-text="Eric Lea"><span>Eric Lea</span></a></h3>
  </article>
</header>

{{! The main content area on the homepage }}
<main id="content" class="content" role="main">

  <div class="clearfix main">
    {{!-- <hr class="vertical-bar"> --}}
    <h2 class="main--header">Latest</h2>
    {{! The tag below includes the post loop - partials/loop.hbs }}
    {{> "loop"}}
  </div>

</main>