{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

<header class="container clearfix">
  <h1>
    <span class="title">{{@blog.description}}</span>
    <hr>
  </h1>
  {{#if @blog.cover}}
  {{!-- <div class="blog-cover" style="
    background: url({{@blog.cover}}) no-repeat;
  " data-anchor-target="body" data-bottom-top="background-position: 0% 0%" data--400-center-bottom="background-position: 10% 0"></div> --}}
  <div class="blog-cover" style="
    background: url({{@blog.cover}}) no-repeat;
    background-size: cover;
  " data-anchor-target="body" data-bottom-top="top: 30%" data--600-center-bottom="top: -30%"></div>
  {{/if}}
</header>

{{! The main content area on the homepage }}
<main id="content" class="content" role="main">

  <div class="clearfix main">
    {{!-- <hr class="vertical-bar"> --}}
    <h2 class="main--header">Latest</h2>
  {{! The tag below includes the post loop - partials/loop.hbs }}
    {{> "loop"}}
  </div>

</main>